<div class="container-fluid">
  <%# The row of the page %>
  <div class="row" data-controller="toggle">
    <%# The columns of the page %>

    <%# render the sidebar column %>
    <%= render "shared/sidebar", chats: @chats, cv: @cv %>

    <div class="col-md-11 pt-3" data-toggle-target="contentCol">
      <%# The page content goes here %>

      <h1 class="text-center">Let's get tailoring!</h1>

      <div class="row">
        <div class="col-6">
          <h2 class="mb-4">What we have so far:</h2>
          <p>Title: <%= @cv.title %></p>
          <p>Content: <%= @cv.content %></p>
        </div>
        <div class="col-6">
          <h1><%= @chat.title %></h1>
          <h3>Your messages</h3>
          <div class="list-group">
            <% @messages.each do |m| %>
              <% if m.role == "user" %>
                <div class="list-group-item px-5 text-start">
                  <%= raw(render_markdown(m.content)) %>
                </div>
              <% else %>
                <div class="row justify-content-center">
                  <%= raw(render_markdown(m.content)) %>
                </div>
              <% end %>
            <% end %>
          </div>
          <h3>Create a new message</h3>
          <div class="form-inputs" data-bs-theme="light">
            <%= simple_form_for [@chat, @message] do |form| %>
              <%= form.input :content %>
              <%= form.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
