<div class="container-fluid">
  <%# The row of the page %>
  <div class="row" data-controller="toggle">
    <%# The columns of the page %>

    <%# render the sidebar column %>
    <%= render "shared/sidebar", chats: @chats, cv: @cv %>

    <div class="col-md-11 pt-3" data-toggle-target="contentCol">
      <%# The page content goes here %>

      <h1 class="text-center"><%= @chat.title %></h1>

      <div class="row">
        <div class="col-5">
          <h2 class="mb-4">What we have so far:</h2>
          <p>Title: <%= @cv.title %></p>

            <%= simple_form_for(@cv, html: { class: "cv-form", turbo_method: :patch }) do |f| %>
              <%= f.input :content, required: true %>
              <%= f.submit "Update CV", class: "btn btn primary" %>
            <% end %>

        </div>
        <div class="col-6">

          <h3>Chat with Sensei</h3>
          <div class="container overflow-y-auto" style="height: 300px;">
            <div class="list-group">
              <% @messages.each do |m| %>
                <% if m.role == "user" %>
                  <div class="list-group-item px-5 text-start">
                    <%= raw(render_markdown(m.content)) %>
                  </div>
                <% else %>
                  <div class="row justify-content-center">
                    <%= raw(render_markdown(m.content)) %>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
          <h3>Create a new message</h3>
          <div class="form-inputs" data-bs-theme="light">
            <%= simple_form_for [@chat, @message] do |form| %>
              <%= form.input :content %>
              <%= form.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
