<div class="container-fluid">
  <%# The row of the page %>
  <div class="row" data-controller="toggle">
    <%# The columns of the page %>

    <%# render the sidebar column %>
    <%= render "shared/sidebar", chats: @cv.chats, cv: @cv %>

    <div class="col-md-11 pt-3" data-toggle-target="contentCol">
      <%# The page content goes here %>
      <h1 class="row justify-content-center">Let's get tailoring!</h1>

      <div class="row">
        <div class="col-11">

          <div class="row">
            <div class="col-6 mt-5">
              <h2 class="mb-4">What we have so far:</h2>
              <%= simple_form_for(@cv, html: { class: "cv-form" }) do |f| %>
                <%= f.input :title, required: true %>
                <%= f.input :content, required: true, input_html: { class: "auto-expand", rows: 18 } %>
                <%= f.submit "Update CV", class: "btn btn-primary d-block mx-auto mt-4" %>
              <% end %>

            </div>
            <div class="col-6 mt-5">
              <h2 class="mb-4">What role are you applying for? </h2>
              <div class="form-inputs" data-bs-theme="light">
                <%= simple_form_for [@cv, @chat] do |form| %>
                  <%= form.input :job_title, required: true %>
                  <%= form.input :job_description %>
                  <%= form.submit class: "btn btn d-block mx-auto mt-4" %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
