<h1> CV show page </h1>

<p>Title: <%= @cv.title %></p>
<p>Content: <%= @cv.content %></p>

<%= simple_form_for [@cv, @chat] do |form| %>
  <%= form.input :job_title %>
  <%= form.input :job_description %>
  <%= form.submit class: "btn btn-primary" %>
<% end %>
